:root {
	--hred: #e1484c;
  }

  body {
	max-width: 90%;
	margin: 0 auto;
  }

  div {
	padding: 2px 8px;
  }

  .App {
	position: relative;
	min-height: 100vh;
  }

  .upperside {
	display: flex;
	flex-direction: row-reverse;
	width: 100%;
	border-bottom: 3px solid var(--hred);
	justify-content: space-between;
  }
  